@media screen and (min-width: 930px)
{
	.mobile , .tablet
	{
		display: none;
	}
	
	/**/
	.asideImages
	{
		width: 300px;
		height: 300px;
		margin: 2em;
		float: right;
	}
	
	p
	{
		float: right;
		margin: 1em;
	}
	*
	{
		margin: 1px;
		padding: 1px;
		border: 0;
	}
	
	body
	{
		font-family: Arial, Helvetica, sans-serif;
		margin: 3em;
		background-color: #CCF;
	}


	#contactInformation
	{
		float: left;
		height: 100px;
		width: 300px;
		border-style: solid;
		border-color: #000;
		background: #0FF;
		border-width: 2px;
		margin: 1em;
	}
	
	form
	{
		float: left;
		border-style: solid;
		border-color: #000;
		border-width: 2px;
		width: 400px;
		height: 140px;
		background: #0FF;
	}
	
	aside
	{
		border-style: solid;
		border-color: #000;
		border-width: 2px;
		width: 400px;
		height: 1250px;
		float: right;
	}
	
	/**/
	#enable
	{
		display: none;
	}
	
	#hamburger
	{
		display: none;
	}
	
	#navigation
	{
		width: 130px;
		height: 80px;
	}
	
	#websiteLogo
	{
		width: 100px;
		height: 100px;
	}
	
	#websiteFooter
	{
		width: 400px;
		margin: 2em;
		font-size: 16px;
		text-align: left;
	}
	
	#cookieStatement
	{
		background-color: rgba(255, 170, 0, .5);
		width: 180px;
		height: 20px;
		position: fixed;
		bottom: 0;
		right: 0;
		margin: 1em;
		z-index: 9999;
		font-size: 16px;
		text-align: center;
	}		
}

@media screen and (min-width: 720px) and (max-width: 930px)
{
	.mobile , .pc
	{
		display: none;
	}
	
	/**/
	.asideImages
	{
		width: 300px;
		height: 300px;
		margin: 2em;
		float: right;
	}
	
	p
	{
		float: right;
		margin: 1em;
	}
	*
	{
		margin: 1px;
		padding: 1px;
		border: 0;
	}
	
	body
	{
		font-family: Arial, Helvetica, sans-serif;
		margin: 3em;
		background-color: #CCF;
	}


	#contactInformation
	{
		float: left;
		height: 100px;
		width: 300px;
		border-style: double;
		border-color: #000;
		background: #0FF;
		border-width: 2px;
		margin: 1em;
	}
	
	form
	{
		top: 200px;
		left: 80px;
		border-style: solid;
		border-color: #000;
		border-width: 2px;
		background: #0FF;
	}
	
	aside
	{
		border-style: solid;
		border-color: #000;
		border-width: 2px;
		width: 400px;
		height: 1250px;
		float: right;
	}
	
	/**/
	#enable
	{
		display: none;
	}
	
	#hamburger
	{
		display: none;
	}
	
	#navigation
	{
		width: 130px;
		height: 80px;
	}
	
	#websiteLogo
	{
		width: 100px;
		height: 100px;
	}
	
	#websiteFooter
	{
		width: 400px;
		margin: 2em;
		font-size: 16px;
		text-align: left;
	}
	
	#cookieStatement
	{
		background-color: rgba(255, 170, 0, .5);
		width: 180px;
		height: 20px;
		position: fixed;
		bottom: 0;
		right: 0;
		margin: 1em;
		z-index: 9999;
		font-size: 16px;
		text-align: center;
	}		
}

@media screen and (max-width: 720px)
{
	.pc , .tablet
	{
		display: none;
	}
	
	/**/
	.asideImages
	{
		width: 300px;
		height: 300px;
		margin: 2em;
		float: right;
	}
	
	p
	{
		float: right;
		margin: 1em;
	}
	*
	{
		margin: 1px;
		padding: 1px;
		border: 0;
	}
	
	body
	{
		font-family: Arial, Helvetica, sans-serif;
		margin: 3em;
		background-color: #CCF;
	}


	#contactInformation
	{
		float: left;
		height: 100px;
		width: 300px;
		border-style: solid;
		border-color: #000;
		background: #0FF;
		border-width: 2px;
		margin: 1em;
	}
	
	form
	{
		top: 200px;
		left: 80px;
		border-style: solid;
		border-color: #000;
		border-width: 2px;
		background: #0FF;
	}
	
	aside
	{
		border-style: solid;
		border-color: #000;
		border-width: 2px;
		width: 400px;
		height: 1250px;
		float: right;
	}
	
	/**/
	#enable
	{
		position: absolute;
		height: 25px;
		width: 25px;
		top: 0;
		right: 0;
		margin: 1em;
	}
	#enable:checked + #navigation
	{
		visibility: visible;
	}
	
	#hamburger
	{
		position: absolute;
		height: 20px;
		width: 20px;
		top: 4px;
		right: 3px;
		margin: 8px;
		z-index: 9998;
	}
	
	#navigation
	{
		visibility: hidden;
		
		position: absolute;
		top: 30px;
		right: 10px;
		margin: 1em;
	}
	
	#websiteLogo
	{
		display: none;
	}
	
	#websiteFooter
	{
		width: 400px;
		margin: 2em;
		font-size: 16px;
		text-align: left;
	}
	
	#cookieStatement
	{
		background-color: rgba(255, 170, 0, .5);
		width: 180px;
		height: 20px;
		position: fixed;
		bottom: 0;
		right: 0;
		margin: 1em;
		z-index: 9999;
		font-size: 16px;
		text-align: center;
	}			
}